@model Account
@{
}

    <div class="container">
        <h3>User Info:</h3>
        <div class="row">

            <div class="col-md-4">
                <p class="detailLabel">Username:</p>
                <p>@Model.UserName</p>
                <p class="detailLabel">First Name:</p>
                <p>@Model.FirstName</p>
                <p class="detailLabel">Last Name:</p>
                <p>@Model.LastName</p>
            </div>
            <div class="col-md-4">
                <p class="detailLabel">Age:</p>
                <p>@Model.Age</p>
                <p class="detailLabel">Gender:</p>
                <p>@Model.Gender</p>
                <p class="detailLabel">Marriage Status:</p>
                <p>@Model.MarriedStatus</p>
            </div>
            <div class="col-md-4">
                <p class="detailLabel">Street Address:</p>
                <p>@Model.StreetAddress</p>
                <p class="detailLabel">Apt/Suite:</p>
                <p>@Model.AptSuite</p>
                <p class="detailLabel">City:</p>
                <p>@Model.City</p>
                <p class="detailLabel">State:</p>
                <p>@Model.State</p>
                <p class="detailLabel">Zip Code:</p>
                <p>@Model.ZipCode</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Contact Info:</h4>
                <p>@Model.Phone</p>
                <p>@Model.Email</p>
            </div>
        </div>

        <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
    </div>