@model Account
@{
}

    <div class="container">
        <div class="row">
            <div class="col-md=6">

                <div>
                    <p>@Model.UserName</p>
                    <p>@Model.FirstName</p>
                    <p>@Model.LastName</p>
                </div>
                <div class="col-md=3">
                    <p>@Model.Age</p>
                    <p>@Model.Gender</p>
                    <p>@Model.MarriedStatus</p>
                </div>
                <div class="col-md=3">
                    <p>@Model.StreetAddress</p>
                    <p>@Model.AptSuite</p>
                    <p>@Model.City</p>
                    <p>@Model.State</p>
                    <p>@Model.ZipCode</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md=6">
                    <h4>Contact Info:</h4>
                    <p>@Model.Phone</p>
                    <p>@Model.Email</p>
                </div>
            </div>
        </div>
        <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
    </div>