@model IEnumerable<Account>
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1>Form Template</h1>
    <div class="col-md-10">
        <table>
            <tr>
                <th>Account Id</th>
                <th>Email</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>

            @foreach (var accounts in Model)
            {<tr>

    <td>@accounts.Id</td>
    <td>@accounts.Email</td>
    <td>@accounts.UserName</td>
    <td>@accounts.FirstName</td>
    <td>@accounts.LastName</td>

    <td><a asp-controller="Account" asp-action="Details" asp-route-id="@accounts.Id">Details</a></td>
    <td>
        <a asp-controller="Account" asp-action="Remove" asp-route-id="@accounts.Id">
            Remove
        </a>
    </td>
    <td>
        <a asp-controller="Account" asp-action="Edit" asp-route-id="@accounts.Id">
            Edit
        </a>
    </td>
</tr>}
        </table>


    </div>



</div>